# Bot token for Bale (server-side only)
BALE_BOT_TOKEN=1809754033:JrtVgHjs2xDnR6nU-HsI4vm4cWgRSZF-Flk
# Optional override; default: https://tapi.bale.ai
BALE_API_BASE_URL=https://tapi.bale.ai

# Eitaayar bot token (server-side only)
EITAA_BOT_TOKEN=
# Optional override; default: https://eitaayar.ir/api
EITAA_API_BASE_URL=https://eitaayar.ir/api
